ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  margin: 10px;
}

.borderBottom {
  border-bottom: 1px solid #ccc;
}

.alignSpinner {
  margin-top: 30%;
}

.alignSpinner {
  margin-top: 40%;
}

ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

